html,
body {
    margin: 0;
}

.root { 
    height: 100lvh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background-color: white;
    box-sizing: content-box;
    width: 800px;
    height: 800px;
    border: 3px solid black;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;

}

.container div {
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.header {
    display: flex;
    gap: 5em;
}